<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Ontario Flowers{% block title %}

    {% endblock %}</title>
    <script src="https://kit.fontawesome.com/eaec768a7d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/utilities.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="shortcut icon" type="image/png" href="{% static 'favicon.ico' %}"/>
    {% block header %}{% endblock %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
    <script src="https://www.paypal.com/sdk/js?client-id=AX-qqaOJdpq9u2q6uBYNRNzKkIY7CCpNQaJ2SmqRkGR_QJ-OaVgynqB8hO6fwV-BMDIoj0fdF9ywmwGy&currency=USD"></script>

</head>
<body>
<header>
    <nav>
        <a href="{% url 'home' %}"><img src="{% static 'images/Ontario-Flowers-logos_black.png' %}"
                                        width="140px; height=130px;" alt=""></a>
        <ul>
            <li class="mobile-disabled"><a href="{% url 'flower_list' %}">Home</a></li>
            <li><a href="{% url 'flower_list' %}">Flowers</a></li>
            <li><a href="{% url 'plant_list' %}">Plants</a>
            <li><a href="{% url 'support' %}">Support</a></li>
            <li><a href="{% url 'history' %}">History</a>
            <li id="nav-bag">
                <div class="dropdown">
                    <a id="dropbtn" onclick="myFunction()" href="#"><i id="dropbtn"
                                                                       class="icons-grey fas fa-shopping-bag"></i></a>
                    <div class="dropdown-content" id="myDropdown">
                        {% if not cart_items %}
                            <a id="cart-items-none">Your Bag is empty.</a>
                        {% else %}
                            <div id="cart-items">
                                <ul>
                                    {% for cart_item in cart_items %}
                                        {% if cart_item.product.is_plant %}

                                            <li><a href="{% url 'product_details' id=cart_item.product.id %}"><i
                                                    class="fas fa-leaf"></i>{{ cart_item.product.name }}</a></li>
                                        {% else %}
                                            <li><a href="{% url 'product_details' id=cart_item.product.id %}"><i
                                                    class="fas fa-seedling"></i>{{ cart_item.product.name }}</a></li>

                                        {% endif %}
                                    {% endfor %}
                                </ul>
                                <a id="nav-proceed-to-checkout" class="button" href="{% url 'checkout' %}">Check Out</a>
                            </div>
                        {% endif %}
                        <a href="{% url 'cart' %}"><i class="fas fa-shopping-bag"></i>Bag</a>
                        <a href="{% url 'track_order' %}"><i class="fas fa-box"></i>Orders</a>
                        <a {% if not request.user.is_authenticated %}
                            href="{% url 'login' %}?next=dashboard" {% else %}
                            href="{% url 'dashboard' %}" {% endif %}><i class="fas fa-user-alt"></i>Account</a>
                        {% if not request.user.is_authenticated %}
                            <a id="dropdown-last" href="{% url 'login' %}?next={{ request.resolver_match.url_name }}"><i
                                    class="fas fa-sign-in-alt"></i>Sign in</a>
                        {% else %}
                            <a id="dropdown-last"
                               href="{% url 'logout' %}?next={{ request.resolver_match.url_name }}"><i
                                    class="fas fa-sign-out-alt"></i>Sign out
                                as {{ request.user.first_name }}</a>
                        {% endif %}
                    </div>
                </div>
            </li>
        </ul>
    </nav>
</header>
{% block bodyblock %}
{% endblock %}
<script>
    /* When the user clicks on the button,
    toggle between hiding and showing the dropdown content */
    function myFunction() {
        document.getElementById("myDropdown").classList.toggle("show");
        document.getElementById("dropbtn").classList.toggle("focus");
    }

    // Close the dropdown if the user clicks outside of it
    window.onclick = function (e) {
        if (!e.target.matches('#dropbtn')) {
            var myDropdown = document.getElementById("myDropdown");
            if (myDropdown.classList.contains('show')) {
                myDropdown.classList.remove('show');
            }

            var myButton = document.getElementById("dropbtn");
            if (myButton.classList.contains('focus')) {
                myButton.classList.remove('focus');
            }
        }
    }
</script>
</body>
</html>