{% extends 'base.html' %}
{% block title %}
    Checkout
{% endblock %}
{% block bodyblock %}
    <div class="flex-checkout">
        <div class="checkout-left">
            <div class="card-registration mx-auto">
                <article class="card-body">
                    <header class="mb-4"><h1 class="card-title">Checkout</h1></header>
                    <form action="{% url 'checkout' %}" method="POST">
                        {% csrf_token %}
                        <div class="form-row">
                            <div class="col form-group">
                                {{ form.first_name }}
                            </div>
                            <div class="col form-group">
                                {{ form.last_name }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col form-group">
                                {{ form.email }}
                            </div>
                            <div class="col form-group">
                                {{ form.confirm_email }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col form-group">
                                {{ form.sender_phone }}</div>
                            <div class="col form-group">
                                {{ form.receiver_phone }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col form-group">
                                {{ form.city }}
                            </div>
                            <div class="col form-group">
                                {{ form.address }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col form-group">
                                {{ form.apartment }}
                            </div>
                            <div class="col form-group">
                                {{ form.postal }}
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="col form-group">
                                {{ form.order_note }}
                            </div>
                        </div>
                        {% if not request.user.is_authenticated %}
                            <div class="form-row">
                                <div class="col form-group">
                                    <label>Do you want to receive emails with special offers?
                                        {{ form.wants_emails }}
                                    </label></div>
                            </div>
                        {% endif %}
                        <div class="form-group">
                            <div class="flex-centered">
                                <button style="font-size: 1.1rem;" type="submit" class="btn btn-round">Place Order
                                </button>
                            </div>
                        </div>
                        {% if not request.user.is_authenticated %}
                            <p class="text-center mt-2">Have an account? Earn bonus points!</p>
                            <p class="text-center"><a href="{% url 'login' %}?next=checkout">Login</a> or <a
                                    href="{% url 'register' %}">Sign Up</a></p>
                        {% endif %}
                        {% if form.errors %}
                            <h1 class="form-errors">{{ form.email.errors }}</h1>
                            <h1 class="form-errors">{{ form.non_field_errors }}</h1>
                        {% endif %}
                    </form>
                </article><!-- card-body.// -->

            </div> <!-- card .// -->
        </div> <!-- checkout-left -->
        <div class="checkout-right">
            <div id="checkout-order-summary" class="mx-auto order_summary">
                <div class="summary_card" id="checkout-summary-card">
                    {% if cart_items %}
                        {% for cart_item in cart_items %}
                            <div class="card_item">
                                <div class="product_img">
                                    <img src="{{ cart_item.product.image.url }}" alt=""/>
                                </div>
                                <div class="product_info">
                                    <h1>{{ cart_item.product.name }}</h1>
                                    <p>Category: {{ cart_item.product.category.name }}</p>
                                    <div class="product_rate_info">
                                        <h1>${{ cart_item.product.price }}</h1>
                                    </div>
                                </div>
                            </div>
                        {% endfor %}
                        <hr/>
                        <div class="order_price">
                            <p>Order summary</p>
                            <h4>${{ total_without_tax }}</h4>
                        </div>
                        <div class="order_service">
                            <p>Taxes</p>
                            <h4>${{ tax|floatformat:2 }}</h4>
                        </div>
                        {% if request.user.is_authenticated %}
                            <div class="order_service">
                                <p>Bonuses discount:</p>
                                <h4>${{ bonus_points|floatformat }}</h4>
                            </div>
                        {% endif %}
                        <div class="order_service">
                            <p>Delivery</p>
                            <h4>{% if delivery > 0 %}${{ delivery }}{% else %}Free{% endif %}</h4>
                        </div>
                        <div class="order_total">
                            <p>Total Amount</p>
                            <h4>${{ total|floatformat }}</h4>
                        </div></div>
                        </div>
                    {% else %}
                        <h4 style="text-align: center;">Your bag is empty.</h4>
                    {% endif %}
        </div>
    </div>
{% endblock %}